<form [formGroup]="mojaForma" (ngSubmit)="OnPosalji()">
    <div class="form-group">
        <label for="ime">Ime</label>
        <input type="text"
                id="ime"
                class="form-control"
                formControlName="ime">
                <span *ngIf="!mojaForma.get('ime').valid && mojaForma.get('ime').touched">Unesite ime!</span>
    </div>        
    <div class="form-group">
        <label for="email">Mail</label>
        <input type="email"
                id="email"
                class="form-control"
                formControlName="email">
                <span *ngIf="!mojaForma.get('email').valid && mojaForma.get('email').touched">Unesite ime!</span>
    </div>        
    <div class="radio" *ngFor="let pol of polovi">
        <label>
            <input type="radio"
            name="pol"
            formControlName="pol"
            [value]="pol"> {{pol}}
        </label>
    </div>
    <span *ngIf="!mojaForma.valid && mojaForma.touched">Popunite formu!</span><br>     
    <button class="btn btn-primary" type="submit" >Posalji</button>
</form>



