<form (ngSubmit)="OnPosalji()" #f="ngForm">
    <div id="podaci-korisnika"
        ngModelGroup="podaciKorisnika"
        #podaciKorisnika="ngModelGroup">
        <div class="form-group">
            <label for="ime">Ime</label>
            <input type="text"
                   id="ime"
                   class="form-control"
                   ngModel
                   required
                   name="ime">
        </div>
        <button class="btn btn-warning" type="button" (click)="predlozi()">Predlozi ime</button>
        <div class="form-group">
            <label for="email">Mail</label>
            <input type="email"
                    id="email"
                    class="form-control"
                    ngModel
                    required email
                    name="email"
                    #email="ngModel">
                    <span clas="help-block" *ngIf="!email.valid && email.touched">Unesite validan email</span>
        </div>
        <div class="form-group">
            <label for="klub">Koji klub volis</label>
            <select id="klub"
                    class="form-control"
                    [ngModel] = 'defaultKlub'
                    name="klub">
                <option value="Zvezda">Crvena Zvezda</option>
                <option value="Partizan">Partizan</option>
            </select>
        </div>
        <div class="form-group">
            <textarea class="form-control"
            name="komentar"
            [(ngModel)]="komentar">
            </textarea>
        </div>  
        <p>Vas komentar: {{komentar}}</p>
        <div class="radio" *ngFor="let pol of polovi">
            <label>
                <input type="radio"
                name="pol"
                ngModel
                [value]="pol"> {{pol}}
            </label>
        </div>      
        <button class="btn btn-primary" type="submit" >Posalji</button>
    </div>
</form>
<div class="row" *ngIf="poslato">
    <div class="col">
        <h3>Poslati podaci:</h3>
        <p>Ime: {{korisnik.ime}}</p>
        <p>Email: {{korisnik.email}}</p>
        <p>Klub: {{korisnik.klub}}</p>
        <p>Komentar: {{korisnik.komentar}}</p>
        <p>Pol: {{korisnik.pol}}</p>
    </div>
</div>
